* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    margin: 0;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.651);
}

ul {
    list-style: none;
}

.width1 {
    width: 70%;
    margin: 0 auto;
}

.border1 {
    border: 2px double rgba(167, 0, 22, 0.747);
    margin: 50px 5% 0 0;
    padding: 5%;
    height: auto;
    font-size: 1.2em;
}

/*Positioning footer at the bottom*/
.container {
    min-height: 100%;
}

.page-container {
    overflow: auto;
    padding-bottom: 50px;
}

footer {
    position: relative;
    height: 50px;
    width: 100%;
    color: rgba(230, 225, 225, 0.973);
    text-align: center;
    margin: 50px 0 0 0;
    background-image: url("images/kolor.jpg");
    clear: both;
}

footer>p {
    display: inline-block;
}

/*Community-nav */

.color-bg {
    background-image: url("images/kolor.jpg");
    width:100%;
    height: auto;
}

.height1 {
    height: 50px;
}

/*LOGO*/

.header {
    width: 100%;
    height: auto;
    background-image: 
    linear-gradient(to right, rgba(212, 70, 51, 0.788), rgb(247, 242, 242),
     rgb(247, 242, 242), rgb(247, 242, 242), rgb(247, 242, 242),
     rgba(212, 70, 51, 0.788));
}

.flex-logo {
    display: flex;
    font-family: "Pinyon Script";
    font-size: 3em;
}

.flex-logo>div {
    align-self: center;
    margin: 0 0 0 18%;
}

.logo-img {
    width: 250px;
    margin: 8px 0 0 0;
}

.logo-gold {
    width: 100%;
    height: 10px;
    background-color: rgba(245, 162, 53, 0.986)
}
/*TOP NAVIGATION BAR*/

.topnav {
    display: flex;
}

.topnav .link {
    font-size: 1.2em;
    color: rgba(230, 225, 225, 0.973);
    padding: 14px 15px;
    text-decoration: none;
}

.topnav .link:hover {
    background-color: rgba(167, 0, 22, 0.747);
    font-weight: bold;
    color: rgb(180, 178, 178);
}

/*Slider 'index.php'*/


.slajdy{
    display: flex;
    justify-content: center;
}

.slajd-img {
    animation: 1s ease-out 1 show_image;
    object-fit: cover;
}

@keyframes show_image {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*posted images at 'Uslugi.php' and "Prace.php*/

.img_box {
    margin: 50px 0 0 0;
    width: 100%;
    height: auto;
}

.images  {
    display: flex;
    flex-wrap: wrap;
    border: 2px dotted black;
}

.project_photo {
    height: inherit;
    height: 250px;
}

.project_photo>a>img {
    width: 350px;
    padding: 15px 15px 35px 15px;
    height: 250px;
    background-size: cover;
}


/*Kontakt.php */

.contact {
    margin: 50px 0 0 0;
}

.form {
    border: 2px double rgba(167, 0, 22, 0.747);
    padding: 20px 20px 0 20px;
    font-family: "Gabriela', serif ";
}

.form-table {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 15px;
    margin: 0 20px 20px 20px;
    height: auto;
}

form>.form-cell-width {
    width: 60%;
}

form>.form-person-data {
    height: 30px;
}

form>.form-message {
    resize: none;
    height: 150px;
}

form>.form-submit-btn {
    height: 30px;
    background--bg: rgba(99, 78, 87, 0.651);
    text-align: center;
}

.tel {
    font-weight: bold;
}

#FB {
    background-image: url("images/FB_32x32.png");
    background-size: cover;
}

#IG {
    background-image: url("images/IG_32x32.png");
    background-size: cover;
}

/*Usługi.php*/
.Uslugi-text-align {
    text-align: center;
}

/*Reklamy*/

.ads {
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}

/*MOBILE AND TABLET*/

#Mobile_Menu {
    display: none;
}

@media (max-width: 1124px) {
    /*Prace.php*/
    .images-container {
        grid-template-columns: auto auto;
    }
    /*LOGO*/
    .flex-logo {
        display: flex;
        align-items: center;
        font-size: 2em;
        justify-content: center;
    }

    .logo-img {
        width: 200px;
        margin: 8px 0 0 0;
    }
    /*Kontakt.php*/
    .form-table {
        display: grid;
        grid-template-columns: auto;
        margin: 0 20px 20px 20px;
        height: auto;
    }

}

@media (max-width: 800px) {
    .images-container {
        grid-template-columns: auto;
    }
    /*LOGO*/
    .flex-logo {
        display: flex;
        align-items: center;
        font-size: 1em;
        justify-content: center;
    }

    .logo-img {
        width: 150px;
        margin: 8px 0 0 0;
    }
    #Desktop_Menu {
        display: none;
    }
    #Mobile_Menu {
        display: block;
    }
    #Mobile_Menu>a {
        font-size: 1.2em;
        color: blanchedalmond;
    }
    
    .flex-nav ul {
        display: none;
    }

    .flex-nav ul.open {
        display: grid;
        list-style-type: none;
    }
    .flex-nav li>a {
        color: blanchedalmond;
    }

    .width1, .project_photo>a>img { 
        width: 100%;
    }
}