* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.651);
}

ul {
    list-style: none;
}


.width1 {
    width: 70%;
    margin: 0 auto;
}

/*Community-nav */

.color-bg {
    background-image: url("images/kolor.jpg");
    width:100%;
    height: auto;
}


.right {
    text-align: right;
}

.flag-img {
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    display: inline-block;
    text-align: right;
}

#UK {
    background-image: url("images/ukraine.png");
    background-size: cover;
}

#PL {
    background-image: url("images/poland.png");
    background-size: cover;
}

/*LOGO*/

.header {
    width: 100%;
    height: auto;
    background-image: 
    linear-gradient(to right, rgba(212, 70, 51, 0.788), rgb(247, 242, 242),
     rgb(247, 242, 242), rgb(247, 242, 242), rgb(247, 242, 242),
     rgba(212, 70, 51, 0.788));
}

.flex-logo {
    display: flex;
    font-family: "Pinyon Script";
    font-size: 3em;
}

.flex-logo>div {
    align-self: center;
    margin: 0 0 0 18%;
}

.logo-img {
    width: 250px;
    margin: 8px 0 0 0;
}

.logo-gold {
    width: 100%;
    height: 10px;
    background-color: rgba(245, 162, 53, 0.986)
}
/*TOP NAVIGATION BAR*/

.topnav {
    display: flex;
}

.topnav .link {
    font-size: 1.2em;
    color: rgba(230, 225, 225, 0.973);
    padding: 14px 15px;
    text-decoration: none;
}

.topnav .link:hover {
    background-color: rgba(167, 0, 22, 0.747);
    font-weight: bold;
    color: rgb(180, 178, 178);
}

/*Slider 'index.php'*/

.home-slider {
    text-align: center;
    width: 50%;
    height: 500px;
    margin: 50px auto;
}

.home-slider>.slajd-img {
    width: 100%;
    height: 100%;
    margin: 0 0 30px 0;
    object-fit: cover;
}

.btn {
    cursor: pointer;
}


/*posted images at 'Uslugi.php' and "Prace.php*/

.images-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    border: 2px double rgba(167, 0, 22, 0.747);
    margin: 50px 5% 0 0;
    padding: 5%;
}

.image {
    overflow: hidden;
    position: relative;
    border: 5px solid rgb(252, 254, 255);
}

.image img {
    max-width: 100%;
    vertical-align: middle;
}

.image .content {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.content {
    color: rgba(243, 241, 241, 0.89);
}

/*Kontakt.php */

.contact {
    margin: 50px 0 0 0;
}

.form {
    border: 2px double rgba(167, 0, 22, 0.747);
    padding: 20px 20px 0 20px;
    font-family: "Gabriela', serif ";
}

.form-table {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 15px;
    margin: 0 20px 20px 20px;
    height: auto;
}

.text-position {
    vertical-align: top;
    font-size: 1.1em;
}

form>.form-cell-width {
    width: 60%;
}

form>.form-person-data {
    height: 30px;
}

form>.form-message {
    resize: none;
    height: 150px;
}

form>.form-submit-btn {
    height: 30px;
    background-color: rgba(99, 78, 87, 0.651);
    text-align: center;
}

.tel {
    font-weight: bold;
}

#FB {
    background-image: url("images/FB_32x32.png");
    background-size: cover;
}

#IG {
    background-image: url("images/IG_32x32.png");
    background-size: cover;
}

/*O-sobie.php*/
.o-sobie {
    border: 2px double rgba(167, 0, 22, 0.747);
    margin: 50px 5% 0 0;
    padding: 5%;
}

/*MOBILE AND TABLET*/

@media (max-width: 1124px) {
    /*Prace.php*/
    .images-container {
        grid-template-columns: auto auto;
    }
    /*LOGO*/
    .flex-logo {
        display: flex;
        align-items: center;
        font-size: 2em;
        justify-content: center;
    }

    .logo-img {
        width: 200px;
        margin: 8px 0 0 0;
    }
    /*Kontakt.php*/
    .form-table {
        display: grid;
        grid-template-columns: auto;
        margin: 0 20px 20px 20px;
        height: auto;
    }

}

@media (max-width: 800px) {
    .images-container {
        grid-template-columns: auto;
    }
    /*LOGO*/
    .flex-logo {
        display: flex;
        align-items: center;
        font-size: 1em;
        justify-content: center;
    }

    .logo-img {
        width: 150px;
        margin: 8px 0 0 0;
    }
}