* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.4em;
}

.container {
    max-width: 1200px;
    height: auto;
    margin: auto;
}

.header {
    width: 100%;
    height: auto;
}

.header>.logo>a>img {
    width: 100px;
}

.header>.logo {
    width: 50%
}


/*Community-nav */

.community-nav {
    text-align: right;
    background-image: url("kolor.jpg");
}


/*TOP NAVIGATION BAR*/

.topnav {
    display: flex;
    background-color: rgba(226, 7, 36, 0.747);
}

.topnav .link {
    font-size: 1.2em;
    color: rgba(230, 225, 225, 0.973);
    padding: 14px 15px;
    text-decoration: none;
}

.topnav .link:hover {
    background-color: rgba(167, 0, 22, 0.747);
    font-weight: bold;
    color: rgb(180, 178, 178);
}


/*Site 'Prace.php''*/

.images-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-right: 5%;
    padding: 5%;
}


/*postet images at 'Prace.php'*/

.image {
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(252, 254, 255);
}

.image img {
    width: 100%;
    vertical-align: middle;
}

.image .content {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.content a {
    text-decoration: none;
    color: rgba(243, 241, 241, 0.89);
}

@media (max-width: 1024px) {
    .images-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 640px) {
    .images-container {
        grid-template-columns: auto;
    }
}