* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: rgba(228, 226, 226, 0.973);
    margin: 0;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: rgba(168, 167, 167, 0.973);
}

.btn>input {
    font-size: 1em;
    padding: 10px 10px 10px 10px;
}
/*ADMIN index.php*/
.Admin-Login {
    margin: 15% 0 0 0;
    text-align: center;
}

/*Positioning footer at the bottom */
.container {
    min-height: 100%;
}

.page-container {
    overflow: auto;
    padding-bottom: 50px;
}

footer {
    position: relative;
    height: 50px;
    width: 100%;
    color: rgba(37, 37, 37, 0.973);
    text-align: center;
    margin: 50px 0 0 0;
    background-color: rgba(187, 8, 8, 0.973);
    clear: both;
}

footer>p {
    display: inline-block;
}

/*TOPNAV*/

.topnav {
    width: 100%;
    height: auto;
    top: 0;
    background-color: rgba(187, 8, 8, 0.973);
}

.width1 {
    width: 70%;
    margin: 0 auto;
}

.topnav-menu {
    display: flex;
    justify-content: space-between;
}

.topnav-item .topnav-menu-item {
    font-size: 1.2em;
    color: rgba(230, 225, 225, 0.973);
    padding: 14px 15px;
}

/*Site content*/

.content {
    margin: 50px 0 0 0;
}

/*Add work and Add new service section*/

.grid-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 15px;
}

.box {
    border: 2px double rgba(56, 55, 55, 0.973);
    padding: 0 15px 50px 15px;
}

/*Table box In (Uslugi, O_sobie)*/

.table_box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*Table and form boxes*/

.tab_form_box {
    display: flex;
    flex-direction: column;
}

/*Form box In (Uslugi, O_sobie*/

.form_box {
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
}

/*Admin-Prace.php*/

.img-preview {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    border: 2px dotted black;
    margin: 0 0 50px 0;
}

.img_prev_box {
    height: auto;
}

.img_prev_box>img {
    width: 100%;
    height: inherit;
    background-size: contain;
    padding: 15px 15px 25px 15px;
    text-align: center;
    
}

.img_box {
    margin: 10px 0 0 0;
    width: 100%;
    height: auto;
}

.images  {
    display: flex;
    flex-wrap: wrap;
    border: 2px dotted black;
}

.project_photo {
    position: relative;
    height: inherit;
    height: 250px;
    border: 1px dotted black;
}

.project_photo>img {
    width: 350px;
    padding: 15px 15px 15px 15px;
    height: inherit;
    background-size: cover;
}

.project_photo>form>.delete_btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background-color: red;
    border: 2px solid white;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 24px; 
    min-width: 24px;
    padding: 4px 3px 0 3px;
    text-align: center;
}

/*Admin-O-sobie.php*/


.Content_form>input,select {
    width: 100%;
    font-size: 1.3em;
    padding: 10px 10px 10px 10px;
}

.Content_form>textarea {
    width: 100%;
    height: 500px;
    font-size: 1em;
    padding: 10px 10px 10px 10px;
    resize: none;
}

#Form_edit {
    display: none;
}

#Form_add {
    display: none;
}

/*TABLETS AND PHONES*/

@media (max-width: 1124px) {
    /*Admin-site.php*/
    .grid-box {
        display: grid;
        grid-template-columns: auto;
    }
}